@inherits LayoutComponentBase

<div class="d-flex">

    <SideMenu />

    <div class="flex-grow-1">

        <TopBar />

        <div class="container mt-4">
            @Body
        </div>

    </div>

</div>