@inherits LayoutComponentBase

<div class="app-wrapper">

    <NavMenu />

    <div class="content-wrapper">
        <TopBar />
        <main class="page-content">
            @Body
        </main>
    </div>

</div>
