<nav id="sidebar" class="sidebar">
    <div class="sidebar-header">
        Shopzo
    </div>

    <ul class="sidebar-menu">
        <li class="active">Dashboard</li>
        <li>Orders</li>
        <li>Delivery</li>
        <li>Products</li>
        <li>Analytics</li>
        <li>Payouts</li>
        <li>Discounts</li>
        <li>Audience</li>
        <li>Appearance</li>
        <li>Plugins</li>
    </ul>
</nav>
