@page "/dashboard"
@layout STHEnterprise.Blazor.Layout.AdminLayout

<h3>Dashboard</h3>

<div class="row mt-4">

<div class="col-md-3">
<StatsCard Title="Orders" Value="150"/>
</div>

<div class="col-md-3">
<StatsCard Title="Products" Value="75"/>
</div>

<div class="col-md-3">
<StatsCard Title="Revenue" Value="₹1.2L"/>
</div>

</div>